body {
  font-family: "Overpass", sans-serif;
  background: hsl(216, 12%, 8%);
  color: white;
  min-height: 100vh;
  display: grid;
  place-content: center;
}
main {
  background: hsl(213, 19%, 18%);
  max-width: 400px;
  max-height: 400px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  padding: 40px;
}

.star {
  font-size: 24px;
  background-color: hsl(217, 10%, 41%);
  color: hsl(25, 97%, 53%);
  padding: 12px 15px;
  margin-bottom: 10px;
  border: none;
  border-radius: 50%;
}
h2 {
  text-align: center;
}

p {
  line-height: 28px;
  margin-bottom: 10px;
  color: hsl(217, 12%, 63%);
}

form {
  display: flex;
  justify-content: space-between;
}
input {
  display: none;
}
input:checked + label {
  background-color: hsl(217, 12%, 63%);
  color: white;
}
label {
  background-color: hsl(217, 10%, 41%);
  padding: 15px 20px;
  border: none;
  border-radius: 50%;
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  margin: 24px 0px;
}
label:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
  cursor: pointer;
}

#submit-btn {
  background-color: hsl(25, 97%, 53%);
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  letter-spacing: 0.5em;
  width: 100%;
}
#submit-btn:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

#first-page {
  display: block;
}
/* message place*/
#message {
  display: none;
}
img {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}
.rate-result {
  background-color: hsl(217, 11%, 32%);
  padding: 12px 15px;
  border: none;
  border-radius: 30px;
  color: hsl(25, 97%, 53%);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin: 24px 0px;
}

.rate-thank-message {
  color: hsl(217, 12%, 63%);
  text-align: center;
}
#back-btn {
  background-color: hsl(25, 97%, 53%);
  padding: 5px 10px;
  border: none;
  border-radius: 24px;
  color: white;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 5px;
}
#back-btn:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
@media (max-width: 375) {
  .rate-btn {
    padding: 12px 12px;
    font-size: 12px;
    margin: auto;
  }
}
